<%# <div id="carousel" class="container carousel carousel-testimonials">
  <p class="testimonial-title">Testimonials</p>
  <div class="testimonials-inner">
    <div class="left-arrow arrows">
      <div class="testimonial-arrows">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="testimonial-arrows">
        <i class="fas fa-chevron-left"></i>
      </div>
    </div>
    <div class="carousel-item">
      <p>Really happy with the work completed. Highly recommend this gig. Was a pleasure to work with and picked up the idea
        and made it a reality.</p>
      <p>-Rebmatic</p>
    </div>
    <div class="carousel-item hidden">
      <p>Joe is fantastic! I couldn’t really ask for a better writer and I look forward to working with Joe in the future.</p>
      <p>-Ryan Simoes</p>
    </div>
    <div class="carousel-item hidden">
      <p>The article is almost alive, love the color and drama he introduces to keep the audience captivated</p>
      <p>-Alex Tsado</p>
    </div>
    <div class="carousel-item hidden">
      <p>Amazing writer, super communication, created unique, to the point content even with little requirements. Not a single
        revision was needed. Was definitely worth to pay more and get articles written by someone with good English writing skills.
        Already looking forward for the next time :)</p>
      <p>-- Klemicha</p>
    </div>
    <div class="carousel-item hidden">
      <p>Excellent work, exceeded my expectations.</p>
      <p>-- Lorenzo Orsini
      </p>
    </div>
    <div class="carousel-item hidden">
      <p>Once again, Joe has done a fantastic job. He has a clear and engaging writing style, and ability to write on a broad range of
        topics. I would highly recommend!</p>
      <p>-- Evlang</p>
    </div>
    <div class="right-arrow arrows">
      <div class="testimonial-arrows">
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="testimonial-arrows">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div> %>
