<%- include("partials/header") -%>

</head>

<body>
  <div id="loadOverlay" style="background-color:#333; position:sticky; top:0px; left:0px; width:100%; height:100vh; z-index:2000;">
  </div>
  <div class="site-wrapper">
    <header class="on-load">
      <a name=#top></a>
      <img class="header-logo" src="./public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
      <navbar-component></navbar-component>
    </header>

    <main class="about">
      <div class="hero hero-about">
        <div class="hero-main">
          <div class="hero-slogan">
            <h1>
              WRITING IS
              <br>
              THE BEST
              <br>
              MEDICINE
            </h1>
          </div>
          <div class="hero-image">
            <img class="silohoutte" src="./public/images/homepage/man_standing_silohoutte.png" alt="Man Standing Silohouette">
          </div>
        </div>

      </div>
      <div class="content-section top-section top-section-about">
        <div class="line line-about-me">
        </div>

        <div class="content">

          <div class="headings">

            <h2 class="highlight-blue">Hi there.</h2>
            <h2 class="highlight-blue">I'm Joe Nightingale, AKA the Writing Doctor.</h2>

          </div>
          <p>That's not a fake title. I'm the real deal. A bona fide medical doctor - I've even got the stethoscope to prove it.</p>
          <p class="align-left">Only these days, I'm not saving lives on the wards... </p>
          <p class="align-left"> ...I'm saving businesses from the clutches of bad content. I <span class="highlight-blue">DIAGNOSE</span> their problems and <span class="highlight-green">PRESCRIBE</span> a healthy dose of content guaranteed to
            cure.
          </p>
        </div>
      </div>


      <div class="content-section middle-section middle-section-about">
        <div class="line line-about-me">
        </div>

        <img src="./public/images/about/stethoscope.gif" alt="Stethoscope">

        <div class="content content-about-top">
          <p>
            I work with <span class="highlight-yellow">small and medium sized businesses</span> to tailor their content and copy for their brand and customer base.
          </p>
          <p>
            I write articles, articles, social media posts, product descriptions, emails, customer guides, and more.
          </p>
          <p>
            Sounds like a lot? It's not. It's all the same thing: capturing your customer's attention and keeping them coming back.
          </p>
        </div>

        <div class="content content-about-bottom">
          <p>
            That's earned me <span class="highlight-yellow">hundreds of satisfied businesses</span> and thousands of eager readers.
          </p>
          <p class="text-align-center">
            Why?
          </p>
          <p>
            Because <span class="highlight-yellow">I go above and beyond</span>. Because I won't accept any old stodgy SEO content. I want you to be 100% satisfied and won't rest until your readers or customers are too.
          </p>
        </div>

      </div>
      <div id="carousel" class="content-section carousel carousel-promises">
        <div class="line line-about-me">
        </div>
        <div class="content">
          <h2>
            EVERY ORDER COMES WITH FIVE PROMISES<span class="highlight-yellow">.</span>
          </h2>
          <div class="promises-inner">

            <div class="left-arrow arrows">
              <div class="testimonial-arrows">
                <i class="fas fa-chevron-left"></i>
              </div>
              <div class="testimonial-arrows">
                <i class="fas fa-chevron-left"></i>
              </div>
            </div>
            <img class="carousel-item" src="./public/images/about/1_carousel.png" alt="Search Engine Optimised">
            <img class="carousel-item hidden" src="./public/images/about/2_carousel.png" alt="Search Engine Optimised">
            <img class="carousel-item hidden" src="./public/images/about/3_carousel.png" alt="Search Engine Optimised">
            <img class="carousel-item hidden" src="./public/images/about/4_carousel.png" alt="Search Engine Optimised">
            <img class="carousel-item hidden" src="./public/images/about/5_carousel.png" alt="Search Engine Optimised">
            <div class="right-arrow arrows">
              <div class="testimonial-arrows">
                <i class="fas fa-chevron-right"></i>
              </div>
              <div class="testimonial-arrows">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section bottom-section-about">
        <div class="line line-about-me">
        </div>
        <div class="content">

          <h2 class="highlight-blue headline">How can I help?</h2>
          <ul>
            <li>Do you have a website crying out for fun and engaging article posts? Want to become the one-stop shop for all things related to your product or service? It's time to get posting! </li>
            <li>Need a unique voice for your brand? Want to speak up and be heard. I'll help you find the words.</li>
            <li>Got a kick-ass product or service but need to get the word out? That's where the wonders of social media come in! But only if you've got attention-grabbing content. </li>
            <li>Want a well-researched article that doesn't just engage, but inform? I'll do it. I'm not afraid to hit the books or dive into the databases and uncover the research to support your product, service, or business. </li>
          </ul>
          <h3 class="highlight-yellow">
            If you need a writer with passion and dedication to your brand that's me!
          </h3>
          <p>
            I specialise in health and science content. But I've worked with businesses across the spectrum, including beauty products, educational services, cosmetics, healthcare, clinical trials, beard oils, foodstuffs, pet toys... there's nothing
            I
            wont write about.
          </p>
        </div>

      </div>



      <div class="signup-container">
      <%- include("partials/signup") -%>
      <div class="book container">
        <div class="book-inner">
          <h2 class="book-today">Book <br> Today</h2>
          <img src="./public/images/homepage/book.png" alt="Book Picture">
        </div>
      </div>

    </div>
  </main>



  <%- include("partials/footer") -%>
</div>
</body>
<script type="module" src="public/module.js"></script>
<script type="module" src="public/carousel.js"></script>
<script type="module" src="public/hide-header.js"></script>
</html>
