<%- include("partials/header") -%>
<div class="site-wrapper">
<header class="on-load">
  <a name=#top></a>
  <img class="header-logo" src="./public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
  <%- include("partials/nav-bar") -%>
</header>





  </div>
<%- include("partials/footer") -%>
