<%- include("partials/header") -%>

<!-- <div id="loadOverlay" style="background-color:#333; position:sticky; top:0px; left:0px; width:100%; height:100vh; z-index:2000;">
</div> -->
<div class="site-wrapper">
    <header class="on-load">
      <a name=#top></a>
      <img class="header-logo" src="./public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
      <%- include("partials/nav-bar") -%>
    </header>
    <main>
      <div class="hero hero-compose">
        <div class="hero-main">
          <div class="hero-slogan-compose">
            <h1>New Article Post</h1>
          </div>
        </div>
      </div>

      <div class="content-section">

        <div class="line">
        </div>
          <div class="content input-form-container">
            <form class="input-form" action="/compose" method="post">
                <input type="input" class="form-control" name="articleTitle" placeholder="Title">
                <input type="text" id="new-date" name="articleDate" placeholder="Date">
                <input type="text" id="new-image" name="articleImageFilePath" placeholder="image">
                <input type="text" id="new-image-alt" name="articleImageAlt" placeholder="Image Alt Name" value="">
                <textarea id="new-content" name="articleContent" rows="6"  placeholder="Content"></textarea>
                <button type="submit" name="submit">Post Article</button>
              </form>
          </div>
        </div>
      </div>
    </main>



    <%- include("partials/footer") -%>
  </div>
  </body>
  <%# <script src="src/js-files/hide-header.js"></script> %>

  </html>
