<%- include("partials/header") -%>

 <!-- <div id="loadOverlay" style="background-color:#333; position:sticky; top:0px; left:0px; width:100%; height:100vh; z-index:2000;">
 </div> -->
 <div class="site-wrapper">
   <header class="on-load">
     <a name=#top></a>
     <img class="header-logo" src="./public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
     <%- include("partials/nav-bar") -%>
   </header>

   <main class="home">
     <div class="hero">
       <div class="hero-main">

         <div class="hero-slogan">
           <h1>
             BRINGING
             <br>
             WRITING
             <br>
             <div class="alive-container">

               <span class="alive highlight-yellow">
                 ALIVE
               </span>

             </div>
           </h1>
           <h2>Tired of bland and boring content writing?
             <br>
            You need engagin content that sells</h2>
         </div>
         <div class="hero-image">
           <img class="silohoutte" src="./public/images/homepage/man_standing_silohoutte.png" alt="Man Standing Silohouette">
         </div>
       </div>

     </div>
     <div class="line">
    </div>
     
    
        
      <div class="logo-section top-section">
        <!-- <div class="line">
        </div> -->
        <h2 class="alive highlight-yellow">TRUSTED WRITER FOR NONPROFITS AND BUSINESS</h2>
        <div class="logos">
 
          <img src="./public/images/homepage/beard_sorcery_logo.png" alt="Beard Sorcery Logo" loading="lazy">
          <img src="./public/images/homepage/teonan_logo.png" alt="Beard Sorcery Logo">
          <img src="./public/images/homepage/big_picture_logo.png" alt="Beard Sorcery Logo">
        </div>
        <div class="logos">
 
          <img src="./public/images/homepage/beard_sorcery_logo.png" alt="Beard Sorcery Logo" loading="lazy">
          <img src="./public/images/homepage/teonan_logo.png" alt="Beard Sorcery Logo">
          <img src="./public/images/homepage/big_picture_logo.png" alt="Beard Sorcery Logo">
        </div>
 
      </div>
        <div class="content-section">
       <div class="line">
       </div>

       <div class="content">

         <div class="headings">
           
          <h2>I'LL BE YOUR<span class="highlight-yellow"> WRITING DOCTOR</span> FOR TODAY<span class="highlight-yellow">.</span></h2>

         </div>
         <p>
           When people say, 'You can't rank high on Google AND deliver quality content,' I say, 'Why the heck not?'

         </p>
         <p>
           Amongst the blizzard of blogs, businesses, content, and copy, I'll get you noticed. And most of all, I'll keep customers coming back.
         </p>
        </div>
     </div>

     <div class="line">
    </div>

     <div class="">
      <div class="logo-section">
        <!-- <div class="line">
        </div> -->
        <h2>WHAT DO YOU NEED<span class="highlight-yellow">.</span></h2>
        <div class="logos">   
          <div class="icon">
            <img src="./public/images/homepage/beard_sorcery_logo.png" alt="Beard Sorcery Logo" loading="lazy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis scelerisque elit.</p>
          </div>
          <div class="icon">
            <img src="./public/images/homepage/teonan_logo.png" alt="Beard Sorcery Logo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis scelerisque elit.</p>
          </div>
          <div class="icon">
            <img src="./public/images/homepage/beard_sorcery_logo.png" alt="Beard Sorcery Logo" loading="lazy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis scelerisque elit.</p>
          </div>
        </div>
        <div class="logos">
  
          <div class="icon">
            <img src="./public/images/homepage/beard_sorcery_logo.png" alt="Beard Sorcery Logo" loading="lazy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis scelerisque elit.</p>
          </div>
          <div class="icon">
            <img src="./public/images/homepage/teonan_logo.png" alt="Beard Sorcery Logo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis scelerisque elit.</p>
          </div>
          <div class="icon">
            <img src="./public/images/homepage/beard_sorcery_logo.png" alt="Beard Sorcery Logo" loading="lazy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis scelerisque elit.</p>
          </div>
        </div>

<!-- 
         <p>
           If you've got a <span class="handwriting">passion</span>, for your product, I'll amplify it. Because that's what sells... personality, quality, originality.
         </p>
         <p>
           I'll <span class="highlight-blue">DIAGNOSE</span>, <span class="highlight-green">PRESCRIBE</span>, and <span class="highlight-yellow">CURE</span> all your content and copy woes. Amongst the blizzard of articles, businesses, content, and
           copy, I'll get you noticed. And best of all, I'll keep customers coming back.
         </p>
         <p>
           While I'm an expert in all-things health and science, I've also got oodles of experience writing about everything from functional mushrooms to beard oils.
         </p>
         <p class="middle-p">
           You name it, I write it.
         </p>
         <p>
           With hundreds of satisfied clients - and tens of thousands of eager readers - there's no substitute for the <span class="handwriting">Writing Doctor</span>
         </p> -->
       </div>
     </div>
     <div id="carousel" class="container carousel carousel-testimonials">
       <p class="testimonial-title">Testimonials</p>
       <div class="testimonials-inner">
         <div class="left-arrow arrows">
           <div class="testimonial-arrows">
             <i class="fas fa-chevron-left"></i>
           </div>
           <div class="testimonial-arrows">
             <i class="fas fa-chevron-left"></i>
           </div>
         </div>
         <div class="carousel-item">
           <p>Really happy with the work completed. Highly recommend this gig. Was a pleasure to work with and picked up the idea
             and made it a reality.</p>
           <p>-Rebmatic</p>
         </div>
         <div class="carousel-item hidden">
           <p>Joe is fantastic! I couldn’t really ask for a better writer and I look forward to working with Joe in the future.</p>
           <p>-Ryan Simoes</p>
         </div>
         <div class="carousel-item hidden">
           <p>The article is almost alive, love the color and drama he introduces to keep the audience captivated</p>
           <p>-Alex Tsado</p>
         </div>
         <div class="carousel-item hidden">
           <p>Amazing writer, super communication, created unique, to the point content even with little requirements. Not a single
             revision was needed. Was definitely worth to pay more and get articles written by someone with good English writing skills.
             Already looking forward for the next time :)</p>
           <p>-- Klemicha</p>
         </div>
         <div class="carousel-item hidden">
           <p>Excellent work, exceeded my expectations.</p>
           <p>-- Lorenzo Orsini
           </p>
         </div>
         <div class="carousel-item hidden">
           <p>Once again, Joe has done a fantastic job. He has a clear and engaging writing style, and ability to write on a broad range of
             topics. I would highly recommend!</p>
           <p>-- Evlang</p>
         </div>
         <div class="right-arrow arrows">
           <div class="testimonial-arrows">
             <i class="fas fa-chevron-right"></i>
           </div>
           <div class="testimonial-arrows">
             <i class="fas fa-chevron-right"></i>
           </div>
         </div>
       </div>
     </div>

     <div class="signup-container">
       <%- include("partials/signup") -%>
       <div class="book container">
         <div class="book-inner">
           <h2 class="book-today">Book <br> Today</h2>
           <img src="./public/images/homepage/book.png" alt="Book Picture">
         </div>
       </div>

     </div>
   </main>



   <%- include("partials/footer") -%>
 </div>
 </body>
 <%# <script src="src/js-files/hide-header.js"></script> %>
 <script type="module" src="public/module.js"></script>
 <script type="module" src="public/carousel.js"></script>
 <script type="module" src="public/hide-header.js"></script>

 </html>
