<%- include("partials/header") -%>

<!-- <div id="loadOverlay" style="background-color:#333; position:sticky; top:0px; left:0px; width:100%; height:100vh; z-index:2000;">
</div> -->
<div class="site-wrapper">
    <header class="on-load">
      <a name=#top></a>
      <img class="header-logo" src="./public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
      <%- include("partials/nav-bar") -%>
    </header>
          <main class="services">
            <div class="hero hero-services">
              <div class="hero-main">

                <div class="hero-slogan">
                  <h1>
                    JUST WHAT
                    <br>
                    THE DOCTOR
                    <br>
                    ORDERED
                  </h1>
                  <h2 class>Blogs, articles, social media posts, product descriptions, newsletters, YouTube scripts, and more</h2>
                </div>
              </div>

            </div>
            <!-- <div class="content-section top-section-services">

            </div> -->

            <div class="content-section middle-section-services">
              <div class="line">
              </div>

              <div class="content">
                <div class="headings">
                  <h2>GROW YOUR BUSINESS WITH THE <SPAN class="highlight-yellow">WRITING DOCTOR</SPAN>.</h2>
                  <p>Too often, content writers think their sole am is to keep the reader reading. The purpose of content is to sell. you need to make a <span class="highlight-bold">profit</span>.</p>
                  <p>
                    That's what I diagnose: What's youe hook? Your message? What does your customer want?
                  </p>
                </div>
              </div>

              </div>
            </div>
            <div class="content-section bottom-section-services">
              <div class="line line-services">
              </div>
              <div class="content">

                <h1 class="steps-title">HOW TO ORDER<span class="highlight-yellow">.</span></h1>
                <div class="steps">

                  <h3>
                    <span class="highlight-bold">Step 1</span>
                    <span class="highlight-yellow">:</span> 
                      Send me a message detailing what you need.
                  </h3>
                  <h3>
                    <span class="highlight-bold">Step 2</span>
                    <span class="highlight-yellow">:</span> 
                      If needed, we'll arrange a call to discuss your content strategy and requiremnts.
                  </h3>
                  <h3>
                    <span class="highlight-bold">Step 3</span>
                    <span class="highlight-yellow">:</span> 
                      I'll get to work researching and writing you content.
                  </h3>
                  <h3>
                    <span class="highlight-bold">Step 4</span>
                    <span class="highlight-yellow">:</span> 
                      I'll deliever the work - you'll suggest any revisions or tweaks.
                  </h3>
                  <h3>
                    <span class="highlight-bold">Step 5</span>
                    <span class="highlight-yellow">:</span> 
                      You experience the results.
                  </h3>
                </div>

              </div>
            </div>

            <div class="content-section middle-section-services">
              <div class="line">
              </div>              

              <div class="content">                
                <div class="testimonial">
                  <i class="fas fa-quote-left"></i>
                  <div class="testimonial-content">
                    <h2>EXCELLENT WRITING SKILLS. GREAT COMMUNICATION SKILLS. STELLAR PERFORMANCE. ASTOUNDING WORK ETHIC</h2>
                    <h3 class="testimonial-author">Terra Jackson</h3>
                    <h3 class="testimonial-author-title">Marketing and Social Media Expert</h3>
                  </div>
                  <i class="fas fa-quote-right"></i>
                </div>
                <div class="treatments">
                  <h2>THE TREATMENTS</h2>
                  <div class="pricing">
                      <h3>Blogs, articles, newsletters & scripts</h3>
                      <div class="pricing-table">
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE SHORT AND SWEET</h2>
                          <h3 class="treatment-words">Up to 1000 words</h3>
                          <h3>Up to</h3>
                          <h2 class="price">$40</h2>
                          <h4>$0.04 per word</h4>
                          <h3 class="delivery">Delivery: 3 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>SEO optimized</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Two revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to two keywords</h3>
                          </div>  
                        </div>
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE MIGHTY MIDDLE</h2>
                          <h3 class="treatment-words">Up to 2000 words</h3>
                          <h3>Up to</h3>
                          <h2 class="price">$75</h2>
                          <h4>$0.0375 per word</h4>
                          <h3 class="delivery">Delivery: 4 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>SEO optimized</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Three revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to two keywords</h3>
                          </div>  
                        </div>
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE LEGENDARY LARGE</h2>
                          <h3 class="treatment-words">Up to 3000 words</h3>
                          <h3>Up to</h3>
                          <h2 class="price">$105</h2>
                          <h4>$0.035 per word</h4>
                          <h3 class="delivery">Delivery: 5 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>SEO optimized</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Unlimited revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to two keywords</h3>
                          </div>  
                        </div>
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE BIG ONE</h2>
                          <h3 class="treatment-words">+5000 words</h3>
                          <h3>Up to</h3>
                          <h2 class="price">$150</h2>
                          <h4>$0.03 per word</h4>
                          <h3 class="delivery">Delivery: 7-8  business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>SEO optimized</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Unlimited revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to two keywords</h3>
                          </div>  
                        </div>
                      </div>
                    </div>
                    <div class="pricing ">
                      <h3>Social media posts & product descriptions</h3>
                      <div class="pricing-table social-media-table">
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE HANDFULL</h2>
                          <h3 class="treatment-words">5 social media posts or product descriptions</h3>
                          <h3>Starts at</h3>
                          <h2 class="price">$30</h2>
                          <h4>$6 per description of post</h4>
                          <h3 class="delivery">Delivery: 3 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Twitter, Facebook or Instagram</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Two revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to 150 words per description post</h3>
                          </div>  
                        </div>
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE DOUBLE</h2>
                          <h3 class="treatment-words">10 social media posts or product descriptions</h3>
                          <h3>Starts at</h3>
                          <h2 class="price">$50</h2>
                          <h4>$6 per description of post</h4>
                          <h3 class="delivery">Delivery: 3 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Twitter, Facebook or Instagram</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Three revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to 150 words per description post</h3>
                          </div>  
                        </div>
                        <div class="pricing-tier">
                          <h2 class="treatment-title">THE FULL WORKS</h2>
                          <h3 class="treatment-words">15 social media posts or product descriptions</h3>
                          <h3>Starts at</h3>
                          <h2 class="price">$60</h2>
                          <h4>$4 per description of post</h4>
                          <h3 class="delivery">Delivery: 5 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Twitter, Facebook or Instagram</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Four revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to 150 words per description post</h3>
                          </div>  
                        </div>
                        <div class="pricing-tier">
                          <h2 class="treatment-title">FREE TEST</h2>
                          <h3 class="treatment-words">1 social media post or product description</h3>
                          <h3>Starts at</h3>
                          <h2 class="price">$0</h2>
                          <h4>$0 per description of post</h4>
                          <h3 class="delivery">Delivery: 2 business days</h3>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Twitter, Facebook or Instagram</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>100% grammatically accurate</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>No revisions</h3>
                          </div>
                          <div class="checklist">
                            <i class="fas fa-check"></i>
                            <h3>Up to 150 words per description post</h3>
                          </div>  
                        </div>
                      </div>
                    </div>
                </div>
                <div class="additional-information">
                  <h2>ADDITIONAL INFORMATION</h2>
                  <ol>
                    <li>If an order request crosses the word threshhold, it will be charged in the next pricing bracket</li>
                    <li>Contet is charged by each 100-words (see pricing table above)</li>
                    <li>Orders will be invoiced on completion</li>
                    <li>Content is delivered in Microsoft Word Document (.docx), alongside a copy in Adobe PDF (.pdf)</li>
                    <li>Keyword research for SEO is included in the price</li>
                    <li>Topic research is included in the price</li>
                    <li>Custom orders are always welcome - send me a messsage to arrange a call or let me know what you need</li>
                    <li>You can split the words however you like and across multiple articles - the smallest article must be 500 words or greater</li>
                    <li>Always include all the information abailable and describe what you want - the more information you include, the closer I can get to what you have in mind</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="contact-outer-container">

              <div class="contact-inner-container">
                <h3>
                  A DROP OF CONTENT A DAY,
                  <br>
                  KEEPS THE ALGORITHM AT BAY<span class="highlight-blue">.</span>
                </h3>
                
                <form class="contact-form" action="index.html" method="post">
                  <h3>CONTACT ME TODAY<span class="highlight-blue">.</h3>
                    <div class="contact-top-row">

                      <input type="text" id="fname" name="firstName" placeholder="First Name">
                      <input type="text" id="fname" name="lastName" placeholder="Last Name">
                      <input type="email" id="email" name="email" placeholder="Email">
                      <input type="tel" id="phone" name="phone" placeholder="Phone">
        
                    </div>
                    <div class="contact-bottom-row">
                      <textarea id="message" name="message" rows="10" maxlength="1000" placeholder="Message"></textarea>
                    </div>
                    <div class="submit-row">
        
                      <p class="max-character-message">0 to 1000 max characters</p>
                      <button type="submit" name="submit">Send Message</button>
        
                    </div>
                </form>

              </div>
            </div>

          </main>



  <%- include("partials/footer") -%>
</div>
</body>

<script type="module" src="public/hide-header.js"></script>
</html>
