.blogs-hero-title {
  color: $primaryPink;
  text-align: center;
  font-size: 1.9em;
}
.headline-blog{
  .blog-info-headline {
    .blog-info-headline-inner {
      background-color: $primaryWhite;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      // text-align: center;
      .blog-title-headline {
      }
      .blog-date-headline {
        // text-align: left;
        font-size: 0.4em;
        color: $additionalSlate;
      }
    }
  }
  .blog-image-headline {
  }
}


.load-more {
  button {
    border: 1px #E1E8EB solid;
    border-radius: 5px;
    background-color: $primaryWhite;
    color: $primaryGreen;
    &:hover {
      color: $primaryWhite;
      background-color: $primaryGreen;
      cursor: pointer;

    }
  }
}

.awful-selfie {
  background: url(../images/homepage/the_writing_doctor_logo.jpg);
  width: 1000px;
  height: 1000px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
