.admin-blog-page,
.admin-header {
  background-color: $secondaryAqua;
  .navigation {
    background-color: $secondaryAqua;
    a {
      color: white;
    }
  }
}

.admin-title {
  color: red;
  font-size: 2em;
}

.admin-blogs-container {
  button {
    background-color: rgb(220,53,69);
    color: $primaryWhite;
    &:hover {
      background-color: black;
      color: $primaryWhite;
    }
  }
  .input-form {
    input, textarea {
    }
    label {
      text-align: left;
    }
    textarea {
      font-family: $josefinSansRegular;
    }
    button {
      color: $primaryWhite;
      background-color: $primaryGreen;
      &:hover {
      background-color: $primaryWhite;
      color: $primaryGreen;
      }
    }
  }
}
