.hero-contact {
  background-color: $primaryWhite;
  .hero-slogan {
    text-align: center;
    h1 {
      font-size: 4em;
      color: $primaryGreen;
    }
    h3 {
      // font-family: $argentRegular;
      font-size: 3.5em;
      color: $additionalGold;
    }
  }
}

.line {
  border: solid $primaryTurquise 1px;
  background-color: $primaryTurquise;
}

.contact-inner-container {
  background-color: $primaryWhite;
  .submit-row {
    button {
      background-color: $additionalGold;
      &:hover {
        background-color: $primaryGreen;
      }
    } 
  }  
}
