.hero-services {
  background-color: $primaryBlue;
}

.top-section-services {
  background-color: $secondarySkyBlue;
  h3 {
    font-size: 1em;
    font-family: $josefinSansLight;
  }
}

.middle-section-services {
  background-color: transparent;
  h3 {
    font-size: 1em;
    font-family: $josefinSansLight;
  }
}

.steps {
  h3 {
    font-weight: 400;
  }
}

.testimonial {
  font-size: 1.4em
}

.treatment {
  background-color: $primaryWhite;
  .treatment-description {
    line-height: 1.2em;
  }
}

.contact-inner-container{
  h3 {
    font-size: 1.8em;
    text-align: center;
    line-height: 1.3em;
    font-weight: bold;
  }
  form {
    margin-bottom: 20px;
  }
  p {
    line-height: 1.5em;
  }
  textarea, input {
    font-family: $josefinSansRegular;
    color: black;
    font-weight: 400;
    line-height: 1.5em;
    ::placeholder {
      color: red;
      font-weight: 400;
    }
  }
  .max-character-message {
    font-size: 0.7em;
    color: $additionalSlate;
  }
}

.services {
  .line {
    border: solid $primaryBlue 1px;
    background-color: $primaryBlue;
  }
}

