.articles-container {
  .articles-hero-title {
    margin: auto;
    width: 700px;
    padding-top: 20px;
  }
  width: 100%;
  margin: 150px 0 50px 0;
  position: relative;
  .headline-article{
    @include flex-row(row, space-between);
    margin: auto;
    margin-bottom: 20px;
    width: 60.25em;
    min-height: 480px;
    .article-info-headline {
      .article-info-headline-inner {
        position: relative;
        top: -70px;
        right: -120px;
        padding: 1px 15px;
        width: 300px;
        z-index: 10;
      }
      h2 {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    .article-image-headline {
      width: 39.15875em;// This equals the width of two article images + the space between them
      img {
        height: 600px;;
        position: relative;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .article-row {
    color: white;
  }

  .article-row-inner {
    margin: auto;
    @include flex-row (row, space-between);
    flex-flow: wrap;
    width: 60.25em;
    .article-container {
      width: 30%;
      margin-bottom: 40px;
      .article {
        min-height: 418px;
        .article-info {
          padding: 0 20px;
          height: 150px;
        }
      }
    }
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .load-more,
  .no-more-articles {
    margin: auto;
    @include flex-row (row, center);
    button {
      padding: 10px 23px;
    }
  }
}

.other-writing {
    @include flex-row (COLUMN, center);
    H1 {
      margin: 50px 0;
    }
    .logo-section {
      top: 0;
      margin-bottom:50px;
    }
}
