.admin-articles-container {
  position: relative;
  width: 60.25em;
  width: 100%;
  margin-top: 280px;
  margin-left: 0;
  .article-container-inner {
    .article-grid-admin {
      width: 90%;
      .article-container {
        width: 20%;
        margin: 20px;
      }
    }
  }
}
