.article-page-container {
  position: relative;
  top: 150px;
  margin: 50px auto 150px;
  width: 60.25em;
  .article-page-inner {
    width: 40em;
    margin: auto;
    img {
      width: 50%;
    }
    h1 {
      margin-bottom: 0;
    }
  }
}



.input-form {
  @include flex-row(column, space-between);
  align-items: flex-start;
  input, textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
  }
  label {
    margin-top: 20px;
  }
  textarea {
    height: 600px;
    // width: 120%;
  }
  button {
    padding: 15px 40px;
    border: 1px #E1E8EB solid;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
