<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
<title>Success</title>

</head>

<body>
  <div class="site-wrapper admin-article-page">

    <header class="on-load admin-header">
        <a name=#top></a>
        <img class="header-logo" src="/public/images/homepage/the_writing_doctor_logo.jpg" alt="The Writing Doctor Logo" loading="lazy" style="max-width: 100px;">
        <%- include("../partials/nav-bar") -%>
    </header>

    <main>
      <div >
        <div class="article-container admin-articles-container">
          <div class="container">
            <h1 class="display-4">Great, you're all set</h1>
            <p class="lead">Watch out for some awsome content coming your way!!!</p>
          </div>
        </div>
      </div>
  </main>

</div>
</body>
<script type="module" src="public/module.js"></script>
<script type="module" src="public/carousel.js"></script>
<script type="module" src="public/hide-header.js"></script>
</html>
